<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf8" />
    <title>EBEN-EZER Comunicaciones</title>
    <link href="../../static/estilo.css" rel="stylesheet" type="text/css" />
    <link href="../../static/estilo-servicios.css" rel="stylesheet" type="text/css" />
    <link href="../../static/font.css" rel="stylesheet" type="text/css" />
    <link href="../../static/estilos2.css" rel="stylesheet" type="text/css" />
    <link href="../../static/medium.css" rel="stylesheet" type="text/css" media="screen and (min-width: 481px) and (max-width: 980px)" />
    <link href="../../static/mini.css" rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" />

<script lang="Javascript">
    var txt =" EBEN-EZER Comunicaciones ";
    var espera = 200;
    var refresca = null;
    function titulo(){
        document.title = txt;
        txt = txt.substring(1, txt.length) + txt.charAt(0);
        refresca = setTimeout("titulo()", espera);

    }

    titulo();
</script>
<!--ICONO DE PESTANA-->
<link rel="shortcut icon" href="../../static/shop.ico" />
</head>
<body>
    <header>
        <h1>EBEN-EZER Comunicaciones</h1>
        <h2>Todo lo puedo en Cristo que me fortalece (Filipenses 4:13)</h2>
    </header>
    <!---BOTON CARRO DE COMPRAS-->
            <div class="carrito">
                <ul>
                    <li>
                        <a href="#" class="icon-cart">
                            <span id="cart_menu_num" data-action="cart-can" class="badge_rounded-circle"></span>
                        </a>
                    </li>
                </ul>
            </div>

    <!--BOTON DE LOG IN-->
    <div class="login">
        <a href="#" class="icon-login">
        </a>
    </div>
    <!--MENU VERTICAL-->
    <div class="btn-menu">
        <label for="btin-menu" class="icon-menu"></label>
    </div>
    

    <div class="search">
    <form action="">
           
        <input type="text" id="buscar">

        <button>BUSCAR</button>
    </form>
    </div>
    
    <div id="box">
        <h1>PRODUCTOS</h1>
    </br>
        <!--producto 1-->
        <div id="box2" style="background-image: url('../../static/iphone1.jpg');">
            <div id="info">
                <h3>Especificaciones</h3>
                <ul>
                    <li>Modelo: Iphone 12</li>
                    <li>Pantalla: 6.1", 1170 x 2532 pixels</li>
                    <li>Procesador: Apple A14 Bionic</li>
                    <li>Almacenamiento: 64GB/128GB/256GB</li>
                    <li>Expansión: sin microSD</li>
                    <li>Cámara: Dual, 12MP+12MP</li>
                    <li>OS: iOS 14</li>
                    <li>Perfil: 7.4 mm</li>
                    <li>Peso: 164 g</li>
                    <li>Precio: 799 USD</li>
                </ul>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div> 
        </div>
        <!--producto 2-->
        <div id="box3" style="background-image: url('../../static/iphone1.jpg');">
            <div id="info">
                <h3>Especificaciones</h3>
                <ul>
                    <li>Modelo: Iphone 123</li>
                    <li>Pantalla: 6.1", 1170 x 2532 pixels</li>
                    <li>Procesador: Apple A14 Bionic</li>
                    <li>Almacenamiento: 64GB/128GB/256GB</li>
                    <li>Expansión: sin microSD</li>
                    <li>Cámara: Dual, 12MP+12MP</li>
                    <li>OS: iOS 14</li>
                    <li>Perfil: 7.4 mm</li>
                    <li>Peso: 164 g</li>
                    <li>Precio: 799 USD</li>
                </ul>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div>
        </div>
        <!--producto 3-->
        <div id="box4" style="background-image: url('../../static/iphone1.jpg');">
            <div id="info">
                <h3>Especificaciones</h3>
                <ul>
                    <li>Modelo: Iphone 124</li>
                    <li>Pantalla: 6.1", 1170 x 2532 pixels</li>
                    <li>Procesador: Apple A14 Bionic</li>
                    <li>Almacenamiento: 64GB/128GB/256GB</li>
                    <li>Expansión: sin microSD</li>
                    <li>Cámara: Dual, 12MP+12MP</li>
                    <li>OS: iOS 14</li>
                    <li>Perfil: 7.4 mm</li>
                    <li>Peso: 164 g</li>
                    <li>Precio: 799 USD</li>
                </ul>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div>
        </div>
        <div id="audifonos" style="background-image: url('../../static/audifonos-blancos.jpg');">
            <div id="info">
                <h3>AUDIFONOS</h3>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div>
        </div>
        <div id="audifonos2" style="background-image: url('../../static/audifonos-t5.webp');">
            <div id="info">
                <h3>AUDIFONOS T-5</h3>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div>
        </div>
        
        <div id="proteccion" style="background-image: url('../../static/protector.jpg');">
            <div id="info">
                <h3>PROTECTORES DE PANTALLA</h3>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
            </div>
        </div>
        <!---BOTON DE VER TODO-->
        <form action="{% url 'productos' %}" id="ver">
            <button>Ver todos</button>
        </form>
        <div id="servicios">
            <h1>SERVICIOS</h1>
            <!--srevicio 1-->
            <div id="activacion" style="background-image: url(../../static/activacion2.jpg);">
                <div id="info">
                    <h3>DESBLOQUEO</h3>
                    <ul>
                        <li>Dessbloqueamos el celular de cualquier compañia</li>
                        <h4>Precio:</h4>
                        <li>Depende de la compañia</li>
                    </ul>
                    <form action="">
                        <button>AÑADIR AL CARRITO</button>
                    </form>
                </div>
            </div>
            <!--srevicio 2-->
            <div id="mantenimiento" style="background-image: url(../../static/mantenimiento2.jpg);">
                <div id="info">
                    <h3>MANTENIMIENTO</h3>
                    <ul>
                        <li>Realizamos mantenimiento de cualquier equipo ya sea celular o pc</li>
                        <h4>Precios:</h4>
                        <li>Mantenimiento rutinario: 500 RD$</li>
                        <li>Mantenimiento profundo: 800 RD$</li>
                    </ul>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
                </div>
            </div>
            <!--srevicio 3-->
            <div id="reparacion" style="background-image: url(../../static/reparacion3.jpg);">
                <div id="info">
                    <h3>REPARACION</h3>
                    <ul>
                        <li>Reparamos cualquier celular ya sea de hardware o software</li>
                        <h4>Precio:</h4>
                        <li>Depende del tipo de reparacion a realizar</li>
                    </ul>
                <form action="">
                    <button>AÑADIR AL CARRITO</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!---MENU DE REDES SOCIALES--> 
    <div class="social-bar">
        <a href="https://www.facebook.com" class="icon icon-facebook2" target="_blank"></a>
        <a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
        <a href="https://www.whatsapp.com" class="icon icon-whatsapp" target="_blank"></a>
        <a href="https://www.twitter.com" class="icon icon-twitter" target="_blank"></a>
        <a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
    </div>

    <footer>
        <a style="text-decoration: none;" href="{% url 'us' %}">Sobre nosotros</a>
        <a style="text-decoration: none;" href="https://www.google.com/maps/place/Eben-ezer+comunicaciones/@18.4627167,-69.9767287,21z/data=!4m5!3m4!1s0x8ea561274c688161:0x4154bf7d3fe9d4!8m2!3d18.4628013!4d-69.9767243" target="_blank">Como llegar</a>
        <a style="text-decoration: none;" href="{% url 'servicios' %}">Servicios</a>
        <a style="text-decoration: none;" href="#">Horario</a>
    </footer>
    <p>© 2021 Felix Santana All rights reserved</p>
     <!--FUNCIONALIDAD DEL MENU-->
    <input type="checkbox" id="btin-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav>
                    <a href="{% url 'home' %}">Inicio</a>
                    <a href="{% url 'us' %}">Nosotros</a>
                    <a href="{% url 'servicios' %}">Servicios</a>
                    <a href="{% url 'productos' %}">Productos</a>
                    <a href="{% url 'contactos' %}">Contactos</a>
                </nav>
                <label for="btin-menu" class="icon-x"></label>
            </div>
        </div>
    </input>
</body>
</html>